flows.json
[
    {
        "id": "4de057833c59a457",
        "type": "tab",
        "label": "死活監視",
        "disabled": false,
        "info": ""
    },
    {
        "id": "cbc5e8548e631469",
        "type": "inject",
        "z": "4de057833c59a457",
        "name": "温湿度死活監視",
        "repeat": "900",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 120,
        "wires": [
            [
                "912134b489e34810"
            ]
        ]
    },
    {
        "id": "912134b489e34810",
        "type": "function",
        "z": "4de057833c59a457",
        "name": "SQL作成",
        "func": "//SQL作成\nmsg.topic = \"select count(*) as count, sensor_registration_name from u9fo72yd0zo6axly.u00001_tbl_tem_hum_measurement_history WHERE received_date >=  DATE_ADD(NOW(), INTERVAL 9 HOUR) - INTERVAL 20 MINUTE;\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 320,
        "y": 120,
        "wires": [
            [
                "f9f587cd574da2ba"
            ]
        ]
    },
    {
        "id": "f9f587cd574da2ba",
        "type": "mysql",
        "z": "4de057833c59a457",
        "mydb": "1848aaaf.9865bd",
        "name": "tbl_sensor_type",
        "x": 500,
        "y": 120,
        "wires": [
            [
                "188f95deaffa36db"
            ]
        ]
    },
    {
        "id": "188f95deaffa36db",
        "type": "function",
        "z": "4de057833c59a457",
        "name": "tbl_sensor_type情報取得",
        "func": "let ary = msg.payload;\nconst dt = new Date(Date.now() + ((new Date().getTimezoneOffset() + (9 * 60)) * 60 * 1000));\nlet date = dt.getFullYear() + '-' + (\"0\"+(dt.getMonth() + 1)).slice(-2) + '-' +  (\"0\"+dt.getDate()).slice(-2);\nlet time = (\"0\"+(dt.getHours())).slice(-2) + ':' + (\"0\"+(dt.getMinutes())).slice(-2) + ':' + (\"0\"+(dt.getSeconds())).slice(-2);\nlet update = date + ' ' + time;\nflow.set('PROCTIME_01',update);\nflow.set('Count_01',ary[0].count);\nif (ary[0].count > 0) {\n    flow.set('SENNAME_01', ary[0].sensor_registration_name);\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 710,
        "y": 120,
        "wires": [
            [
                "deb4c760c9b5f4dd"
            ]
        ]
    },
    {
        "id": "ca5b36e46a419e38",
        "type": "switch",
        "z": "4de057833c59a457",
        "name": "",
        "property": "count1",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 1910,
        "y": 120,
        "wires": [
            [
                "ad0504fcd46ac263"
            ],
            [
                "c5b73f8afa4893f0"
            ],
            [
                "9dbef01862ce1e15"
            ]
        ]
    },
    {
        "id": "c5b73f8afa4893f0",
        "type": "function",
        "z": "4de057833c59a457",
        "name": "文面設定",
        "func": "let sename = flow.get('SENNAME_01')||'00137a1000008163';\nmsg.topic = '【警告】温湿度センサー（' +sename+ '）でエラーが発生';\nmsg.payload = '温湿度センサー（' +sename+ '）からのデータが送信されていません。\\n温湿度センサーを確認してください。'\nmsg.to = 't.matsumoto@pound4tec.com';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2140,
        "y": 120,
        "wires": [
            [
                "526bdf0a90b71bcf"
            ]
        ]
    },
    {
        "id": "297cc1dd63a50ef1",
        "type": "inject",
        "z": "4de057833c59a457",
        "name": "照度死活監視",
        "repeat": "3600",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 240,
        "wires": [
            [
                "90923a9b8ed4e6d5"
            ]
        ]
    },
    {
        "id": "90923a9b8ed4e6d5",
        "type": "function",
        "z": "4de057833c59a457",
        "name": "SQL作成",
        "func": "//SQL作成\nmsg.topic = \"select count(*) as count, sensor_registration_name from u9fo72yd0zo6axly.u00001_tbl_illuminance_history WHERE received_date >=  DATE_ADD(NOW(), INTERVAL 9 HOUR) - INTERVAL 65 MINUTE;\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 320,
        "y": 240,
        "wires": [
            [
                "a44540c7f2d1e31a"
            ]
        ]
    },
    {
        "id": "a44540c7f2d1e31a",
        "type": "mysql",
        "z": "4de057833c59a457",
        "mydb": "1848aaaf.9865bd",
        "name": "tbl_sensor_type",
        "x": 500,
        "y": 240,
        "wires": [
            [
                "0ac81347f37b2487"
            ]
        ]
    },
    {
        "id": "0ac81347f37b2487",
        "type": "function",
        "z": "4de057833c59a457",
        "name": "tbl_sensor_type情報取得",
        "func": "let ary = msg.payload;\nconst dt = new Date(Date.now() + ((new Date().getTimezoneOffset() + (9 * 60)) * 60 * 1000));\nlet date = dt.getFullYear() + '-' + (\"0\"+(dt.getMonth() + 1)).slice(-2) + '-' +  (\"0\"+dt.getDate()).slice(-2);\nlet time = (\"0\"+(dt.getHours())).slice(-2) + ':' + (\"0\"+(dt.getMinutes())).slice(-2) + ':' + (\"0\"+(dt.getSeconds())).slice(-2);\nlet update = date + ' ' + time;\nflow.set('PROCTIME_02',update);\nflow.set('Count_02',ary[0].count);\nif (ary[0].count > 0) {\n    flow.set('SENNAME_02', ary[0].sensor_registration_name);\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 710,
        "y": 240,
        "wires": [
            [
                "c9bcac48e7d94cee"
            ]
        ]
    },
    {
        "id": "ee779ca778e0105f",
        "type": "switch",
        "z": "4de057833c59a457",
        "name": "",
        "property": "count2",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 1910,
        "y": 240,
        "wires": [
            [
                "5322e301ee913f8a"
            ],
            [
                "d1c03945e32cc948"
            ],
            [
                "37516b210408ee38"
            ]
        ]
    },
    {
        "id": "d1c03945e32cc948",
        "type": "function",
        "z": "4de057833c59a457",
        "name": "文面設定",
        "func": "let sename = flow.get('SENNAME_02') || '00137a1000003096'; \nmsg.topic = '【警告】照度センサー（'+sename+ '）でエラーが発生';\nmsg.payload = '照度センサー（' + sename + '）からのデータが送信されていません。\\n照度センサーを確認してください。'\nmsg.to = 't.matsumoto@pound4tec.com';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2140,
        "y": 240,
        "wires": [
            [
                "526bdf0a90b71bcf"
            ]
        ]
    },
    {
        "id": "6ccf799a96642bfa",
        "type": "inject",
        "z": "4de057833c59a457",
        "name": "3軸加速度死活監視",
        "repeat": "3600",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 360,
        "wires": [
            [
                "d515c93b1b9557df"
            ]
        ]
    },
    {
        "id": "d515c93b1b9557df",
        "type": "function",
        "z": "4de057833c59a457",
        "name": "SQL作成",
        "func": "//SQL作成\nmsg.topic = \"select count(*) as count, sensor_registration_name from u9fo72yd0zo6axly.u00001_tbl_three_axis_history WHERE received_date >=  DATE_ADD(NOW(), INTERVAL 9 HOUR) - INTERVAL 65 MINUTE and sensor_id = '00137a1000020d6e';\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 320,
        "y": 360,
        "wires": [
            [
                "d1ca8a2c51d1e384"
            ]
        ]
    },
    {
        "id": "d1ca8a2c51d1e384",
        "type": "mysql",
        "z": "4de057833c59a457",
        "mydb": "1848aaaf.9865bd",
        "name": "tbl_sensor_type",
        "x": 500,
        "y": 360,
        "wires": [
            [
                "f43cb0b5a4fbdbe2"
            ]
        ]
    },
    {
        "id": "f43cb0b5a4fbdbe2",
        "type": "function",
        "z": "4de057833c59a457",
        "name": "tbl_sensor_type情報取得",
        "func": "let ary = msg.payload;\nconst dt = new Date(Date.now() + ((new Date().getTimezoneOffset() + (9 * 60)) * 60 * 1000));\nlet date = dt.getFullYear() + '-' + (\"0\"+(dt.getMonth() + 1)).slice(-2) + '-' +  (\"0\"+dt.getDate()).slice(-2);\nlet time = (\"0\"+(dt.getHours())).slice(-2) + ':' + (\"0\"+(dt.getMinutes())).slice(-2) + ':' + (\"0\"+(dt.getSeconds())).slice(-2);\nlet update = date + ' ' + time;\nflow.set('PROCTIME_03',update);\nflow.set('Count_03',ary[0].count);\nif (ary[0].count > 0) {\n    flow.set('SENNAME_03', ary[0].sensor_registration_name);\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 710,
        "y": 360,
        "wires": [
            [
                "f634cc5e59c31a53"
            ]
        ]
    },
    {
        "id": "512ff191f8018d75",
        "type": "switch",
        "z": "4de057833c59a457",
        "name": "",
        "property": "count3",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 1910,
        "y": 360,
        "wires": [
            [
                "3c01022c04697ff1"
            ],
            [
                "30c6c348e1af65e1"
            ],
            [
                "57689b627115a174"
            ]
        ]
    },
    {
        "id": "30c6c348e1af65e1",
        "type": "function",
        "z": "4de057833c59a457",
        "name": "文面設定",
        "func": "let sename = flow.get('SENNAME_03') || '00137a1000020d6e'; \nmsg.topic = '【警告】3軸加速度センサー（' +sename+ '）からのデータが取得できません';\nmsg.payload = '3軸加速度センサー（' + sename + '）からのデータが送信されていません。\\n3軸加速度センサーを確認してください。'\nmsg.to = 't.matsumoto@pound4tec.com';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2140,
        "y": 360,
        "wires": [
            [
                "526bdf0a90b71bcf"
            ]
        ]
    },
    {
        "id": "4c296def09581b2e",
        "type": "inject",
        "z": "4de057833c59a457",
        "name": "3軸加速度死活監視",
        "repeat": "3600",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 480,
        "wires": [
            [
                "8e69adf83dda4b28"
            ]
        ]
    },
    {
        "id": "8e69adf83dda4b28",
        "type": "function",
        "z": "4de057833c59a457",
        "name": "SQL作成",
        "func": "//SQL作成\nmsg.topic = \"select count(*) as count, sensor_registration_name from u9fo72yd0zo6axly.u00001_tbl_three_axis_history WHERE received_date >=  DATE_ADD(NOW(), INTERVAL 9 HOUR) - INTERVAL 65 MINUTE and sensor_id = '00137a1000020d6f';\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 320,
        "y": 480,
        "wires": [
            [
                "85715297fb3a45a3"
            ]
        ]
    },
    {
        "id": "85715297fb3a45a3",
        "type": "mysql",
        "z": "4de057833c59a457",
        "mydb": "1848aaaf.9865bd",
        "name": "tbl_sensor_type",
        "x": 500,
        "y": 480,
        "wires": [
            [
                "a1cb4ce30ea77dd8"
            ]
        ]
    },
    {
        "id": "a1cb4ce30ea77dd8",
        "type": "function",
        "z": "4de057833c59a457",
        "name": "tbl_sensor_type情報取得",
        "func": "let ary = msg.payload;\nconst dt = new Date(Date.now() + ((new Date().getTimezoneOffset() + (9 * 60)) * 60 * 1000));\nlet date = dt.getFullYear() + '-' + (\"0\"+(dt.getMonth() + 1)).slice(-2) + '-' +  (\"0\"+dt.getDate()).slice(-2);\nlet time = (\"0\"+(dt.getHours())).slice(-2) + ':' + (\"0\"+(dt.getMinutes())).slice(-2) + ':' + (\"0\"+(dt.getSeconds())).slice(-2);\nlet update = date + ' ' + time;\nflow.set('PROCTIME_04',update);\nflow.set('Count_04',ary[0].count);\nif (ary[0].count > 0) {\n    flow.set('SENNAME_04', ary[0].sensor_registration_name);\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 710,
        "y": 480,
        "wires": [
            [
                "71a517cf0250d15a"
            ]
        ]
    },
    {
        "id": "6fcdbb6c8f1fd147",
        "type": "switch",
        "z": "4de057833c59a457",
        "name": "",
        "property": "count4",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 1910,
        "y": 480,
        "wires": [
            [
                "2f4c70d3450aac9f"
            ],
            [
                "abb039eb294cbc46"
            ],
            [
                "f384d614a02b933a"
            ]
        ]
    },
    {
        "id": "abb039eb294cbc46",
        "type": "function",
        "z": "4de057833c59a457",
        "name": "文面設定",
        "func": "let sename = flow.get('SENNAME_04') || '00137a1000020d6f'; \nmsg.topic = '【警告】3軸加速度センサー（' +sename+ '）からのデータが取得できません';\nmsg.payload = '3軸加速度センサー（' +sename+ '）からのデータが送信されていません。\\n3軸加速度センサーを確認してください。'\nmsg.to = 't.matsumoto@pound4tec.com';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2140,
        "y": 480,
        "wires": [
            [
                "526bdf0a90b71bcf"
            ]
        ]
    },
    {
        "id": "0327c00920ec1425",
        "type": "inject",
        "z": "4de057833c59a457",
        "name": "3軸加速度死活監視",
        "repeat": "3600",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 600,
        "wires": [
            [
                "66e8356822028933"
            ]
        ]
    },
    {
        "id": "66e8356822028933",
        "type": "function",
        "z": "4de057833c59a457",
        "name": "SQL作成",
        "func": "//SQL作成\nmsg.topic = \"select count(*) as count, sensor_registration_name from u9fo72yd0zo6axly.u00001_tbl_three_axis_history WHERE received_date >=  DATE_ADD(NOW(), INTERVAL 9 HOUR) - INTERVAL 65 MINUTE and sensor_id = '00137a1000020d70';\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 320,
        "y": 600,
        "wires": [
            [
                "9a9c9b060967f87d"
            ]
        ]
    },
    {
        "id": "9a9c9b060967f87d",
        "type": "mysql",
        "z": "4de057833c59a457",
        "mydb": "1848aaaf.9865bd",
        "name": "tbl_sensor_type",
        "x": 500,
        "y": 600,
        "wires": [
            [
                "36a102099a6daf58"
            ]
        ]
    },
    {
        "id": "36a102099a6daf58",
        "type": "function",
        "z": "4de057833c59a457",
        "name": "tbl_sensor_type情報取得",
        "func": "let ary = msg.payload;\nconst dt = new Date(Date.now() + ((new Date().getTimezoneOffset() + (9 * 60)) * 60 * 1000));\nlet date = dt.getFullYear() + '-' + (\"0\"+(dt.getMonth() + 1)).slice(-2) + '-' +  (\"0\"+dt.getDate()).slice(-2);\nlet time = (\"0\"+(dt.getHours())).slice(-2) + ':' + (\"0\"+(dt.getMinutes())).slice(-2) + ':' + (\"0\"+(dt.getSeconds())).slice(-2);\nlet update = date + ' ' + time;\nflow.set('PROCTIME_05',update);\nflow.set('Count_05',ary[0].count);\nif (ary[0].count > 0) {\n    flow.set('SENNAME_05', ary[0].sensor_registration_name);\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 710,
        "y": 600,
        "wires": [
            [
                "298c751ed2e38fd3"
            ]
        ]
    },
    {
        "id": "2f8e7daad25607da",
        "type": "switch",
        "z": "4de057833c59a457",
        "name": "",
        "property": "count5",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 1910,
        "y": 600,
        "wires": [
            [
                "d8e17d9560a27605"
            ],
            [
                "ee7f74d009f59768"
            ],
            [
                "bab32020c248dc6b"
            ]
        ]
    },
    {
        "id": "79b9cd9ae427d2f1",
        "type": "inject",
        "z": "4de057833c59a457",
        "name": "3軸加速度死活監視",
        "repeat": "3600",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 720,
        "wires": [
            [
                "a7114cd044bd3ff6"
            ]
        ]
    },
    {
        "id": "a7114cd044bd3ff6",
        "type": "function",
        "z": "4de057833c59a457",
        "name": "SQL作成",
        "func": "//SQL作成\nmsg.topic = \"select count(*) as count, sensor_registration_name from u9fo72yd0zo6axly.u00001_tbl_three_axis_history WHERE received_date >=  DATE_ADD(NOW(), INTERVAL 9 HOUR) - INTERVAL 65 MINUTE and sensor_id = '00137a1000020d6d';\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 320,
        "y": 720,
        "wires": [
            [
                "1a79f9661d3d1a52"
            ]
        ]
    },
    {
        "id": "1a79f9661d3d1a52",
        "type": "mysql",
        "z": "4de057833c59a457",
        "mydb": "1848aaaf.9865bd",
        "name": "tbl_sensor_type",
        "x": 500,
        "y": 720,
        "wires": [
            [
                "b88c6182bcde736f"
            ]
        ]
    },
    {
        "id": "b88c6182bcde736f",
        "type": "function",
        "z": "4de057833c59a457",
        "name": "tbl_sensor_type情報取得",
        "func": "let ary = msg.payload;\nconst dt = new Date(Date.now() + ((new Date().getTimezoneOffset() + (9 * 60)) * 60 * 1000));\nlet date = dt.getFullYear() + '-' + (\"0\"+(dt.getMonth() + 1)).slice(-2) + '-' +  (\"0\"+dt.getDate()).slice(-2);\nlet time = (\"0\"+(dt.getHours())).slice(-2) + ':' + (\"0\"+(dt.getMinutes())).slice(-2) + ':' + (\"0\"+(dt.getSeconds())).slice(-2);\nlet update = date + ' ' + time;\nflow.set('PROCTIME_06',update);\nflow.set('Count_06',ary[0].count);\nif (ary[0].count > 0) {\n    flow.set('SENNAME_06', ary[0].sensor_registration_name);\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 710,
        "y": 720,
        "wires": [
            [
                "cfb518f310471373"
            ]
        ]
    },
    {
        "id": "4c4a489b2bf00f2a",
        "type": "switch",
        "z": "4de057833c59a457",
        "name": "",
        "property": "count6",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 1910,
        "y": 720,
        "wires": [
            [
                "139994037042814a"
            ],
            [
                "30dccb5d88eda758"
            ],
            [
                "78154227a88758af"
            ]
        ]
    },
    {
        "id": "30dccb5d88eda758",
        "type": "function",
        "z": "4de057833c59a457",
        "name": "文面設定",
        "func": "let sename = flow.get('SENNAME_06') || '00137a1000020d6d'; \nmsg.topic = '【警告】3軸加速度センサー（' +sename+ '）からのデータが取得できません';\nmsg.payload = '3軸加速度センサー（' +sename+ '）からのデータが送信されていません。\\n3軸加速度センサーを確認してください。'\nmsg.to = 't.matsumoto@pound4tec.com';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2140,
        "y": 720,
        "wires": [
            [
                "526bdf0a90b71bcf"
            ]
        ]
    },
    {
        "id": "139994037042814a",
        "type": "debug",
        "z": "4de057833c59a457",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 2130,
        "y": 680,
        "wires": []
    },
    {
        "id": "9dbef01862ce1e15",
        "type": "function",
        "z": "4de057833c59a457",
        "name": "文面設定",
        "func": "let sename = flow.get('SENNAME_01')||'00137a1000008163';\nmsg.topic = '【情報】温湿度センサー（' +sename+ '）復帰しました';\nmsg.payload = '温湿度センサー（' +sename+ '）からのデータが送信されました。'\nmsg.to = 't.matsumoto@pound4tec.com';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2140,
        "y": 160,
        "wires": [
            [
                "526bdf0a90b71bcf"
            ]
        ]
    },
    {
        "id": "37516b210408ee38",
        "type": "function",
        "z": "4de057833c59a457",
        "name": "文面設定",
        "func": "let sename = flow.get('SENNAME_02') || '00137a1000003096'; \nmsg.topic = '【情報】照度センサー（' +sename+ '）復帰しました';\nmsg.payload = '照度センサー（' +sename+ '）からのデータが送信されました。'\nmsg.to = 't.matsumoto@pound4tec.com';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2140,
        "y": 280,
        "wires": [
            [
                "526bdf0a90b71bcf"
            ]
        ]
    },
    {
        "id": "57689b627115a174",
        "type": "function",
        "z": "4de057833c59a457",
        "name": "文面設定",
        "func": "let sename = flow.get('SENNAME_03') || '00137a1000020d6e'; \nmsg.topic = '【情報】3軸加速度センサー（' +sename+ '）復帰しました';\nmsg.payload = '3軸加速度センサー（' +sename+ '）からのデータが送信されました。'\nmsg.to = 't.matsumoto@pound4tec.com';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2140,
        "y": 400,
        "wires": [
            [
                "526bdf0a90b71bcf"
            ]
        ]
    },
    {
        "id": "f384d614a02b933a",
        "type": "function",
        "z": "4de057833c59a457",
        "name": "文面設定",
        "func": "let sename = flow.get('SENNAME_04') || '00137a1000020d6f'; \nmsg.topic = '【情報】3軸加速度センサー（' +sename+ '）復帰しました';\nmsg.payload = '3軸加速度センサー（' +sename+ '）からのデータが送信されました。'\nmsg.to = 't.matsumoto@pound4tec.com';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2140,
        "y": 520,
        "wires": [
            [
                "526bdf0a90b71bcf"
            ]
        ]
    },
    {
        "id": "bab32020c248dc6b",
        "type": "function",
        "z": "4de057833c59a457",
        "name": "文面設定",
        "func": "let sename = flow.get('SENNAME_05') || '00137a1000020d70'; \nmsg.topic = '【情報】3軸加速度センサー（' +sename+ '）復帰';\nmsg.payload = '3軸加速度センサー（' +sename+ '）からのデータが送信されました。'\nmsg.to = 't.matsumoto@pound4tec.com';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2140,
        "y": 640,
        "wires": [
            [
                "526bdf0a90b71bcf"
            ]
        ]
    },
    {
        "id": "ee7f74d009f59768",
        "type": "function",
        "z": "4de057833c59a457",
        "name": "文面設定",
        "func": "let sename = flow.get('SENNAME_05') || '00137a1000020d70'; \nmsg.topic = '【警告】3軸加速度センサー（' +sename+ '）からのデータが取得できません';\nmsg.payload = '3軸加速度センサー（' +sename+ '）からのデータが送信されていません。\\n3軸加速度センサーを確認してください。'\nmsg.to = 't.matsumoto@pound4tec.com';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2140,
        "y": 600,
        "wires": [
            [
                "526bdf0a90b71bcf"
            ]
        ]
    },
    {
        "id": "78154227a88758af",
        "type": "function",
        "z": "4de057833c59a457",
        "name": "文面設定",
        "func": "let sename = flow.get('SENNAME_06') || '00137a1000020d6d'; \nmsg.topic = '【情報】3軸加速度センサー（' +sename+ '）復帰しました。';\nmsg.payload = '3軸加速度センサー（' + sename + '）からのデータが送信されました。'\nmsg.to = 't.matsumoto@pound4tec.com';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2140,
        "y": 760,
        "wires": [
            [
                "526bdf0a90b71bcf"
            ]
        ]
    },
    {
        "id": "ad0504fcd46ac263",
        "type": "debug",
        "z": "4de057833c59a457",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 2130,
        "y": 80,
        "wires": []
    },
    {
        "id": "5322e301ee913f8a",
        "type": "debug",
        "z": "4de057833c59a457",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 2130,
        "y": 200,
        "wires": []
    },
    {
        "id": "3c01022c04697ff1",
        "type": "debug",
        "z": "4de057833c59a457",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 2130,
        "y": 320,
        "wires": []
    },
    {
        "id": "2f4c70d3450aac9f",
        "type": "debug",
        "z": "4de057833c59a457",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 2130,
        "y": 440,
        "wires": []
    },
    {
        "id": "d8e17d9560a27605",
        "type": "debug",
        "z": "4de057833c59a457",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 2130,
        "y": 560,
        "wires": []
    },
    {
        "id": "8688b9b5edf73d41",
        "type": "inject",
        "z": "4de057833c59a457",
        "name": "3軸加速度死活監視",
        "repeat": "3600",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 840,
        "wires": [
            [
                "ca0fc711b7739c99"
            ]
        ]
    },
    {
        "id": "ca0fc711b7739c99",
        "type": "function",
        "z": "4de057833c59a457",
        "name": "SQL作成",
        "func": "//SQL作成\nmsg.topic = \"select count(*) as count, sensor_registration_name from u9fo72yd0zo6axly.u00001_tbl_three_axis_history WHERE received_date >=  DATE_ADD(NOW(), INTERVAL 9 HOUR) - INTERVAL 65 MINUTE and sensor_id = '00137a10000086f1';\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 320,
        "y": 840,
        "wires": [
            [
                "4814fa3fa486741b"
            ]
        ]
    },
    {
        "id": "4814fa3fa486741b",
        "type": "mysql",
        "z": "4de057833c59a457",
        "mydb": "1848aaaf.9865bd",
        "name": "tbl_sensor_type",
        "x": 500,
        "y": 840,
        "wires": [
            [
                "258bc8f8171fa98f"
            ]
        ]
    },
    {
        "id": "258bc8f8171fa98f",
        "type": "function",
        "z": "4de057833c59a457",
        "name": "tbl_sensor_type情報取得",
        "func": "let ary = msg.payload;\nconst dt = new Date(Date.now() + ((new Date().getTimezoneOffset() + (9 * 60)) * 60 * 1000));\nlet date = dt.getFullYear() + '-' + (\"0\"+(dt.getMonth() + 1)).slice(-2) + '-' +  (\"0\"+dt.getDate()).slice(-2);\nlet time = (\"0\"+(dt.getHours())).slice(-2) + ':' + (\"0\"+(dt.getMinutes())).slice(-2) + ':' + (\"0\"+(dt.getSeconds())).slice(-2);\nlet update = date + ' ' + time;\nflow.set('PROCTIME_07',update);\nflow.set('Count_07',ary[0].count);\nif (ary[0].count > 0) {\n    flow.set('SENNAME_07', ary[0].sensor_registration_name);\n}else{\n    flow.set('SENNAME_07', '00137a10000086f1');\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 710,
        "y": 840,
        "wires": [
            [
                "cf5d0bb7d24984fd"
            ]
        ]
    },
    {
        "id": "a43d0fc83ee2b6e5",
        "type": "function",
        "z": "4de057833c59a457",
        "name": "文面設定",
        "func": "let sename = flow.get('SENNAME_07') || '00137a10000086f1'; \nmsg.topic = '【警告】3軸加速度センサー（' +sename+ '）からのデータが取得できません';\nmsg.payload = '3軸加速度センサー（' +sename+ '）からのデータが送信されていません。\\n3軸加速度センサーを確認してください。'\nmsg.to = 't.matsumoto@pound4tec.com';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2140,
        "y": 840,
        "wires": [
            [
                "526bdf0a90b71bcf"
            ]
        ]
    },
    {
        "id": "6d97479251108fea",
        "type": "debug",
        "z": "4de057833c59a457",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 2130,
        "y": 800,
        "wires": []
    },
    {
        "id": "c431a07f5c3bd9df",
        "type": "function",
        "z": "4de057833c59a457",
        "name": "文面設定",
        "func": "let sename = flow.get('SENNAME_07') || '00137a10000086f1'; \nmsg.topic = '【情報】3軸加速度センサー（'+sename+ '）復帰しました。';\nmsg.payload = '3軸加速度センサー（'+sename+ '）からのデータが送信されました。'\nmsg.to = 't.matsumoto@pound4tec.com';\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2140,
        "y": 880,
        "wires": [
            [
                "526bdf0a90b71bcf"
            ]
        ]
    },
    {
        "id": "57b3f64c35ff481c",
        "type": "switch",
        "z": "4de057833c59a457",
        "name": "",
        "property": "count7",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 1990,
        "y": 840,
        "wires": [
            [
                "6d97479251108fea"
            ],
            [
                "a43d0fc83ee2b6e5"
            ],
            [
                "c431a07f5c3bd9df"
            ]
        ]
    },
    {
        "id": "deb4c760c9b5f4dd",
        "type": "function",
        "z": "4de057833c59a457",
        "name": "死活状態取得",
        "func": "//SQL作成\nmsg.topic = \"select aliveflg from u9fo72yd0zo6axly.poc_alive_monitoring WHERE sensor_id ='00137a1000008163';\";\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 920,
        "y": 120,
        "wires": [
            [
                "192bd3346a0b3aa4"
            ]
        ]
    },
    {
        "id": "192bd3346a0b3aa4",
        "type": "mysql",
        "z": "4de057833c59a457",
        "mydb": "1848aaaf.9865bd",
        "name": "alivemonitoring_Get",
        "x": 1120,
        "y": 120,
        "wires": [
            [
                "a6b38eaf9e4c0200"
            ]
        ]
    },
    {
        "id": "a6b38eaf9e4c0200",
        "type": "function",
        "z": "4de057833c59a457",
        "name": "tbl_sensor_type情報取得",
        "func": "let ary = msg.payload;\nmsg.err01 = ary[0].aliveflg;\nlet count = flow.get('Count_01');\n\nmsg.count1 = '1';\nif (count > '0' ){\n    if (msg.err01 == '1') {  //エラーからの復帰\n        msg.count1 = '2';\n    }\n    msg.err01 = '0';\n} else {\n    if(msg.err01 === '0') {\n       msg.count1 = '0';\n    }\n    msg.err01 = '1';\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1370,
        "y": 120,
        "wires": [
            [
                "90ab804e56131606"
            ]
        ]
    },
    {
        "id": "90ab804e56131606",
        "type": "function",
        "z": "4de057833c59a457",
        "name": "死活状態設定",
        "func": "//SQL作成\nconst dt = new Date(Date.now() + ((new Date().getTimezoneOffset() + (9 * 60)) * 60 * 1000));\nlet date = dt.getFullYear() + '-' + (dt.getMonth()+1) + '-' + dt.getDate();\nlet time = dt.getHours() + ':' + dt.getMinutes() + ':' + dt.getSeconds();\nlet update = date + ' ' + time;\n\nmsg.topic = \"UPDATE poc_alive_monitoring SET aliveflg = '\"+msg.err01+\"' , update_date = '\"+update+\"' WHERE sensor_id ='00137a1000008163';\";\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1580,
        "y": 120,
        "wires": [
            [
                "83cc585d63c9b565"
            ]
        ]
    },
    {
        "id": "83cc585d63c9b565",
        "type": "mysql",
        "z": "4de057833c59a457",
        "mydb": "1848aaaf.9865bd",
        "name": "tbl_sensor_alive",
        "x": 1760,
        "y": 120,
        "wires": [
            [
                "ca5b36e46a419e38"
            ]
        ]
    },
    {
        "id": "c9bcac48e7d94cee",
        "type": "function",
        "z": "4de057833c59a457",
        "name": "死活状態取得",
        "func": "//SQL作成\nmsg.topic = \"select aliveflg from u9fo72yd0zo6axly.poc_alive_monitoring WHERE sensor_id ='00137a1000003096';\";\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 920,
        "y": 240,
        "wires": [
            [
                "ec1f7f8e426ab820"
            ]
        ]
    },
    {
        "id": "ec1f7f8e426ab820",
        "type": "mysql",
        "z": "4de057833c59a457",
        "mydb": "1848aaaf.9865bd",
        "name": "alivemonitoring_Get",
        "x": 1120,
        "y": 240,
        "wires": [
            [
                "676d010fc73352f7"
            ]
        ]
    },
    {
        "id": "676d010fc73352f7",
        "type": "function",
        "z": "4de057833c59a457",
        "name": "tbl_sensor_type情報取得",
        "func": "let ary = msg.payload;\nmsg.err02 = ary[0].aliveflg;\nlet count = flow.get('Count_02');\n\nmsg.count2 = '1';\nif (count > '0' ){\n    if (msg.err02 == '1') {  //エラーからの復帰\n        msg.count2 = '2';\n    }\n    msg.err02 = '0';\n} else {\n    if(msg.err02 === '0') {\n       msg.count2 = '0';\n    }\n    msg.err02 = '1';\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1370,
        "y": 240,
        "wires": [
            [
                "45a2d7e3d0764b33"
            ]
        ]
    },
    {
        "id": "45a2d7e3d0764b33",
        "type": "function",
        "z": "4de057833c59a457",
        "name": "死活状態設定",
        "func": "//SQL作成\nconst dt = new Date(Date.now() + ((new Date().getTimezoneOffset() + (9 * 60)) * 60 * 1000));\nlet date = dt.getFullYear() + '-' + (dt.getMonth()+1) + '-' + dt.getDate();\nlet time = dt.getHours() + ':' + dt.getMinutes() + ':' + dt.getSeconds();\nlet update = date + ' ' + time;\n\nmsg.topic = \"UPDATE poc_alive_monitoring SET aliveflg = '\"+msg.err02+\"' , update_date = '\"+update+\"' WHERE sensor_id ='00137a1000003096';\";\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1580,
        "y": 240,
        "wires": [
            [
                "5feed8c056ba3910"
            ]
        ]
    },
    {
        "id": "5feed8c056ba3910",
        "type": "mysql",
        "z": "4de057833c59a457",
        "mydb": "1848aaaf.9865bd",
        "name": "tbl_sensor_alive",
        "x": 1760,
        "y": 240,
        "wires": [
            [
                "ee779ca778e0105f"
            ]
        ]
    },
    {
        "id": "f634cc5e59c31a53",
        "type": "function",
        "z": "4de057833c59a457",
        "name": "死活状態取得",
        "func": "//SQL作成\nmsg.topic = \"select aliveflg from u9fo72yd0zo6axly.poc_alive_monitoring WHERE sensor_id ='00137a1000020d6e';\";\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 920,
        "y": 360,
        "wires": [
            [
                "32f3132c66240092"
            ]
        ]
    },
    {
        "id": "32f3132c66240092",
        "type": "mysql",
        "z": "4de057833c59a457",
        "mydb": "1848aaaf.9865bd",
        "name": "alivemonitoring_Get",
        "x": 1120,
        "y": 360,
        "wires": [
            [
                "d1e79da1cb3468b5"
            ]
        ]
    },
    {
        "id": "d1e79da1cb3468b5",
        "type": "function",
        "z": "4de057833c59a457",
        "name": "tbl_sensor_type情報取得",
        "func": "let ary = msg.payload;\nmsg.err03 = ary[0].aliveflg;\nlet count = flow.get('Count_03');\n\nmsg.count3 = '1';\nif (count > '0' ){\n    if (msg.err03 == '1') {  //エラーからの復帰\n        msg.count3 = '2';\n    }\n    msg.err03 = '0';\n} else {\n    if(msg.err03 === '0') {\n       msg.count3 = '0';\n    }\n    msg.err03 = '1';\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1370,
        "y": 360,
        "wires": [
            [
                "409edf565f6a5ec2"
            ]
        ]
    },
    {
        "id": "409edf565f6a5ec2",
        "type": "function",
        "z": "4de057833c59a457",
        "name": "死活状態設定",
        "func": "//SQL作成\nconst dt = new Date(Date.now() + ((new Date().getTimezoneOffset() + (9 * 60)) * 60 * 1000));\nlet date = dt.getFullYear() + '-' + (dt.getMonth()+1) + '-' + dt.getDate();\nlet time = dt.getHours() + ':' + dt.getMinutes() + ':' + dt.getSeconds();\nlet update = date + ' ' + time;\n\nmsg.topic = \"UPDATE poc_alive_monitoring SET aliveflg = '\"+msg.err03+\"' , update_date = '\"+update+\"' WHERE sensor_id ='00137a1000020d6e';\";\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1580,
        "y": 360,
        "wires": [
            [
                "1002ef4e678ab24d"
            ]
        ]
    },
    {
        "id": "1002ef4e678ab24d",
        "type": "mysql",
        "z": "4de057833c59a457",
        "mydb": "1848aaaf.9865bd",
        "name": "tbl_sensor_alive",
        "x": 1760,
        "y": 360,
        "wires": [
            [
                "512ff191f8018d75"
            ]
        ]
    },
    {
        "id": "71a517cf0250d15a",
        "type": "function",
        "z": "4de057833c59a457",
        "name": "死活状態取得",
        "func": "//SQL作成\nmsg.topic = \"select aliveflg from u9fo72yd0zo6axly.poc_alive_monitoring WHERE sensor_id ='00137a1000020d6f';\";\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 920,
        "y": 480,
        "wires": [
            [
                "483367f3fa55f4e2"
            ]
        ]
    },
    {
        "id": "483367f3fa55f4e2",
        "type": "mysql",
        "z": "4de057833c59a457",
        "mydb": "1848aaaf.9865bd",
        "name": "alivemonitoring_Get",
        "x": 1120,
        "y": 480,
        "wires": [
            [
                "8ac829eed63f9743"
            ]
        ]
    },
    {
        "id": "8ac829eed63f9743",
        "type": "function",
        "z": "4de057833c59a457",
        "name": "tbl_sensor_type情報取得",
        "func": "let ary = msg.payload;\nmsg.err04 = ary[0].aliveflg;\nlet count = flow.get('Count_04');\n\nmsg.count4 = '1';\nif (count > '0' ){\n    if (msg.err04 == '1') {  //エラーからの復帰\n        msg.count4 = '2';\n    }\n    msg.err04 = '0';\n} else {\n    if(msg.err04 === '0') {\n       msg.count4 = '0';\n    }\n    msg.err04 = '1';\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1370,
        "y": 480,
        "wires": [
            [
                "83689f2477d04603"
            ]
        ]
    },
    {
        "id": "83689f2477d04603",
        "type": "function",
        "z": "4de057833c59a457",
        "name": "死活状態設定",
        "func": "//SQL作成\nconst dt = new Date(Date.now() + ((new Date().getTimezoneOffset() + (9 * 60)) * 60 * 1000));\nlet date = dt.getFullYear() + '-' + (dt.getMonth()+1) + '-' + dt.getDate();\nlet time = dt.getHours() + ':' + dt.getMinutes() + ':' + dt.getSeconds();\nlet update = date + ' ' + time;\n\nmsg.topic = \"UPDATE poc_alive_monitoring SET aliveflg = '\"+msg.err04+\"' , update_date = '\"+update+\"' WHERE sensor_id ='00137a1000020d6f';\";\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1580,
        "y": 480,
        "wires": [
            [
                "2d14efe7a4d6fdbf"
            ]
        ]
    },
    {
        "id": "2d14efe7a4d6fdbf",
        "type": "mysql",
        "z": "4de057833c59a457",
        "mydb": "1848aaaf.9865bd",
        "name": "tbl_sensor_alive",
        "x": 1760,
        "y": 480,
        "wires": [
            [
                "6fcdbb6c8f1fd147"
            ]
        ]
    },
    {
        "id": "298c751ed2e38fd3",
        "type": "function",
        "z": "4de057833c59a457",
        "name": "死活状態取得",
        "func": "//SQL作成\nmsg.topic = \"select aliveflg from u9fo72yd0zo6axly.poc_alive_monitoring WHERE sensor_id ='00137a1000020d70';\";\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 920,
        "y": 600,
        "wires": [
            [
                "58dbefe818b9d28a"
            ]
        ]
    },
    {
        "id": "58dbefe818b9d28a",
        "type": "mysql",
        "z": "4de057833c59a457",
        "mydb": "1848aaaf.9865bd",
        "name": "alivemonitoring_Get",
        "x": 1120,
        "y": 600,
        "wires": [
            [
                "6baa4abd2e2fd663"
            ]
        ]
    },
    {
        "id": "6baa4abd2e2fd663",
        "type": "function",
        "z": "4de057833c59a457",
        "name": "tbl_sensor_type情報取得",
        "func": "let ary = msg.payload;\nmsg.err05 = ary[0].aliveflg;\nlet count = flow.get('Count_05');\n\nmsg.count5 = '1';\nif (count > '0' ){\n    if (msg.err05 == '1') {  //エラーからの復帰\n        msg.count5 = '2';\n    }\n    msg.err05 = '0';\n} else {\n    if(msg.err05 === '0') {\n       msg.count5 = '0';\n    }\n    msg.err05 = '1';\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1370,
        "y": 600,
        "wires": [
            [
                "833b4b30fce7e0f9"
            ]
        ]
    },
    {
        "id": "833b4b30fce7e0f9",
        "type": "function",
        "z": "4de057833c59a457",
        "name": "死活状態設定",
        "func": "//SQL作成\nconst dt = new Date(Date.now() + ((new Date().getTimezoneOffset() + (9 * 60)) * 60 * 1000));\nlet date = dt.getFullYear() + '-' + (dt.getMonth()+1) + '-' + dt.getDate();\nlet time = dt.getHours() + ':' + dt.getMinutes() + ':' + dt.getSeconds();\nlet update = date + ' ' + time;\n\nmsg.topic = \"UPDATE poc_alive_monitoring SET aliveflg = '\"+msg.err05+\"' , update_date = '\"+update+\"' WHERE sensor_id ='00137a1000020d70';\";\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1580,
        "y": 600,
        "wires": [
            [
                "94da89ed6c84fc85"
            ]
        ]
    },
    {
        "id": "94da89ed6c84fc85",
        "type": "mysql",
        "z": "4de057833c59a457",
        "mydb": "1848aaaf.9865bd",
        "name": "tbl_sensor_alive",
        "x": 1760,
        "y": 600,
        "wires": [
            [
                "2f8e7daad25607da"
            ]
        ]
    },
    {
        "id": "cfb518f310471373",
        "type": "function",
        "z": "4de057833c59a457",
        "name": "死活状態取得",
        "func": "//SQL作成\nmsg.topic = \"select aliveflg from u9fo72yd0zo6axly.poc_alive_monitoring WHERE sensor_id ='00137a1000020d6d';\";\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 920,
        "y": 720,
        "wires": [
            [
                "1b3c7e6c54ab2880"
            ]
        ]
    },
    {
        "id": "1b3c7e6c54ab2880",
        "type": "mysql",
        "z": "4de057833c59a457",
        "mydb": "1848aaaf.9865bd",
        "name": "alivemonitoring_Get",
        "x": 1120,
        "y": 720,
        "wires": [
            [
                "690a11cee3baef2e"
            ]
        ]
    },
    {
        "id": "690a11cee3baef2e",
        "type": "function",
        "z": "4de057833c59a457",
        "name": "tbl_sensor_type情報取得",
        "func": "let ary = msg.payload;\nmsg.err06 = ary[0].aliveflg;\nlet count = flow.get('Count_06');\n\nmsg.count6 = '1';\nif (count > '0' ){\n    if (msg.err06 == '1') {  //エラーからの復帰\n        msg.count6 = '2';\n    }\n    msg.err06 = '0';\n} else {\n    if(msg.err06 === '0') {\n       msg.count6 = '0';\n    }\n    msg.err06 = '1';\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1370,
        "y": 720,
        "wires": [
            [
                "6d130b2685a47639"
            ]
        ]
    },
    {
        "id": "6d130b2685a47639",
        "type": "function",
        "z": "4de057833c59a457",
        "name": "死活状態設定",
        "func": "//SQL作成\nconst dt = new Date(Date.now() + ((new Date().getTimezoneOffset() + (9 * 60)) * 60 * 1000));\nlet date = dt.getFullYear() + '-' + (dt.getMonth()+1) + '-' + dt.getDate();\nlet time = dt.getHours() + ':' + dt.getMinutes() + ':' + dt.getSeconds();\nlet update = date + ' ' + time;\n\nmsg.topic = \"UPDATE poc_alive_monitoring SET aliveflg = '\"+msg.err06+\"' , update_date = '\"+update+\"' WHERE sensor_id ='00137a1000020d6d';\";\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1580,
        "y": 720,
        "wires": [
            [
                "77081a33adb1d39a"
            ]
        ]
    },
    {
        "id": "77081a33adb1d39a",
        "type": "mysql",
        "z": "4de057833c59a457",
        "mydb": "1848aaaf.9865bd",
        "name": "tbl_sensor_alive",
        "x": 1760,
        "y": 720,
        "wires": [
            [
                "4c4a489b2bf00f2a"
            ]
        ]
    },
    {
        "id": "cf5d0bb7d24984fd",
        "type": "function",
        "z": "4de057833c59a457",
        "name": "死活状態取得",
        "func": "//SQL作成\nmsg.topic = \"select aliveflg from u9fo72yd0zo6axly.poc_alive_monitoring WHERE sensor_id ='00137a10000086f1';\";\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 920,
        "y": 840,
        "wires": [
            [
                "51d9eb1561060fbe"
            ]
        ]
    },
    {
        "id": "51d9eb1561060fbe",
        "type": "mysql",
        "z": "4de057833c59a457",
        "mydb": "1848aaaf.9865bd",
        "name": "alivemonitoring_Get",
        "x": 1120,
        "y": 840,
        "wires": [
            [
                "2d4270afa3950d94"
            ]
        ]
    },
    {
        "id": "2d4270afa3950d94",
        "type": "function",
        "z": "4de057833c59a457",
        "name": "tbl_sensor_type情報取得",
        "func": "let ary = msg.payload;\nmsg.err07 = ary[0].aliveflg;\nlet count = flow.get('Count_07');\n\nmsg.count7 = '1';\nif (count > '0' ){\n    if (msg.err07 == '1') {  //エラーからの復帰\n        msg.count7 = '2';\n    }\n    msg.err07 = '0';\n} else {\n    if(msg.err07 === '0') {\n       msg.count7 = '0';\n    }\n    msg.err07 = '1';\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1410,
        "y": 840,
        "wires": [
            [
                "12427228b59bce7d"
            ]
        ]
    },
    {
        "id": "12427228b59bce7d",
        "type": "function",
        "z": "4de057833c59a457",
        "name": "死活状態設定",
        "func": "//SQL作成\nconst dt = new Date(Date.now() + ((new Date().getTimezoneOffset() + (9 * 60)) * 60 * 1000));\nlet date = dt.getFullYear() + '-' + (dt.getMonth()+1) + '-' + dt.getDate();\nlet time = dt.getHours() + ':' + dt.getMinutes() + ':' + dt.getSeconds();\nlet update = date + ' ' + time;\n\nmsg.topic = \"UPDATE poc_alive_monitoring SET aliveflg = '\"+msg.err07+\"' , update_date = '\"+update+\"' WHERE sensor_id ='00137a10000086f1';\";\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1640,
        "y": 840,
        "wires": [
            [
                "e6a662eaa1747e2c"
            ]
        ]
    },
    {
        "id": "e6a662eaa1747e2c",
        "type": "mysql",
        "z": "4de057833c59a457",
        "mydb": "1848aaaf.9865bd",
        "name": "alivemonitoring_Put",
        "x": 1830,
        "y": 840,
        "wires": [
            [
                "57b3f64c35ff481c"
            ]
        ]
    },
    {
        "id": "526bdf0a90b71bcf",
        "type": "e-mail",
        "z": "4de057833c59a457",
        "server": "smtp.gmail.com",
        "port": "465",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": true,
        "tls": true,
        "name": "",
        "dname": "",
        "x": 2430,
        "y": 460,
        "wires": []
    },
    {
        "id": "1848aaaf.9865bd",
        "type": "MySQLdatabase",
        "name": "u9fo72yd0zo6axly",
        "host": "kfgk8u2ogtoylkq9.cbetxkdyhwsb.us-east-1.rds.amazonaws.com",
        "port": "3306",
        "db": "u9fo72yd0zo6axly",
        "tz": "",
        "charset": "UTF8"
    }
]
