flows.json
[
    {
        "id": "5546eb2.8913a14",
        "type": "tab",
        "label": "花王PoC M＋ FTP連携",
        "disabled": false,
        "info": "照度、温湿度、3軸加速度センサーのデータを毎週月曜日の1時にM＋と\r\nへFTP転送する"
    },
    {
        "id": "5c9ea8d4.c54658",
        "type": "catch",
        "z": "5546eb2.8913a14",
        "name": "エラー時の処理",
        "scope": null,
        "uncaught": false,
        "x": 180,
        "y": 140,
        "wires": [
            [
                "e93dae8a.6be67"
            ]
        ]
    },
    {
        "id": "50b7bb86.255c94",
        "type": "function",
        "z": "5546eb2.8913a14",
        "name": "内部用文面設定",
        "func": "\nmsg.topic='Node-Redでエラーが発生'; //メール件名設定\nmsg.payload = 'FTP転送処理 『' + msg.error.source.name + 'ノード』でエラーが発生しました。\\n\\n' + msg.error.message + '\\n\\n確認してください。\\n';   //本文\nmsg.to = 't.matsumoto@pound4tec.com';\n// メールヘッダー設定\nmsg.headers = '';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 100,
        "wires": [
            [
                "debf13f4.392a7",
                "7bb58fb057f122d8"
            ]
        ]
    },
    {
        "id": "74034ef0.e0b3f",
        "type": "comment",
        "z": "5546eb2.8913a14",
        "name": "エラー発生時",
        "info": "エラー発生時の処理",
        "x": 110,
        "y": 60,
        "wires": []
    },
    {
        "id": "debf13f4.392a7",
        "type": "debug",
        "z": "5546eb2.8913a14",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1210,
        "y": 60,
        "wires": []
    },
    {
        "id": "efc77b39.3bd708",
        "type": "change",
        "z": "5546eb2.8913a14",
        "name": "3センサー分ループ",
        "rules": [
            {
                "t": "set",
                "p": "counter",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 170,
        "y": 400,
        "wires": [
            [
                "4f23341a.c4bccc"
            ]
        ]
    },
    {
        "id": "4f23341a.c4bccc",
        "type": "switch",
        "z": "5546eb2.8913a14",
        "name": "ループチェック",
        "property": "counter",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "3",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 420,
        "y": 400,
        "wires": [
            [
                "6976056b.db3dfc"
            ],
            [
                "88db2057.18a5b"
            ]
        ]
    },
    {
        "id": "be83963d.108f58",
        "type": "function",
        "z": "5546eb2.8913a14",
        "name": "counter +1",
        "func": "// @ts-ignore\nmsg.counter += 1;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 770,
        "y": 220,
        "wires": [
            [
                "4f23341a.c4bccc"
            ]
        ],
        "info": "// nrlint no-loops:off\n"
    },
    {
        "id": "6257a728.8ca448",
        "type": "inject",
        "z": "5546eb2.8913a14",
        "d": true,
        "name": "毎日1時実行",
        "repeat": "",
        "crontab": "00 01 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 280,
        "wires": [
            [
                "efc77b39.3bd708"
            ]
        ]
    },
    {
        "id": "6976056b.db3dfc",
        "type": "function",
        "z": "5546eb2.8913a14",
        "name": "データ取得SQL作成",
        "func": "let strsql = '';\n// @ts-ignore\nif (msg.counter === 0) {\n    strsql = \"SELECT user_id,sensor_id,sensor_registration_name,received_date,alarm_type,battery_level,illuminance_status,DATE_FORMAT(registration_date,'%Y-%m-%d %H:%i:%s') AS registration_date,DATE_FORMAT(update_date,'%Y-%m-%d %H:%i:%s') aS update_date FROM u9fo72yd0zo6axly.u00001_tbl_illuminance_history WHERE received_date BETWEEN DATE(SYSDATE() + INTERVAL 9 HOUR) - INTERVAL 1 DAY AND DATE(SYSDATE() + INTERVAL 9 HOUR);\";\n} else if (msg.counter === 1) {\n    strsql = \"SELECT user_id,sensor_id,sensor_registration_name,received_date,alarm_type,battery_level,temperature,report_type,data_x,data_y,data_z,DATE_FORMAT(registration_date,'%Y-%m-%d %H:%i:%s') AS registration_date,DATE_FORMAT(update_date,'%Y-%m-%d %H:%i:%s') aS update_date FROM  u9fo72yd0zo6axly.u00001_tbl_three_axis_history WHERE received_date BETWEEN DATE(SYSDATE() + INTERVAL 9 HOUR) - INTERVAL 1 DAY AND DATE(SYSDATE() + INTERVAL 9 HOUR);\";\n} else {\n    strsql = \"SELECT user_id,sensor_id,sensor_registration_name,received_date,alarm_type,battery_level,temperature,humidity,DATE_FORMAT(registration_date,'%Y-%m-%d %H:%i:%s') AS registration_date,DATE_FORMAT(update_date,'%Y-%m-%d %H:%i:%s') aS update_date FROM u9fo72yd0zo6axly.u00001_tbl_tem_hum_measurement_history WHERE received_date BETWEEN DATE(SYSDATE() + INTERVAL 9 HOUR) - INTERVAL 1 DAY AND DATE(SYSDATE() + INTERVAL 9 HOUR);\";\n}\nmsg.topic = strsql;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 700,
        "y": 360,
        "wires": [
            [
                "6c148e3d.1963b"
            ]
        ]
    },
    {
        "id": "8412311e.e31b8",
        "type": "csv",
        "z": "5546eb2.8913a14",
        "name": "照度CSV設定",
        "sep": ",",
        "hdrin": true,
        "hdrout": "all",
        "multi": "mult",
        "ret": "\\n",
        "temp": "user_id,sensor_id,sensor_registration_name,received_date,alarm_type,battery_level,illuminance_status,registration_date,update_date",
        "skip": "0",
        "strings": false,
        "x": 1180,
        "y": 320,
        "wires": [
            [
                "2203f19f.ad62fe"
            ]
        ]
    },
    {
        "id": "2203f19f.ad62fe",
        "type": "function",
        "z": "5546eb2.8913a14",
        "name": "センサファイル名作成",
        "func": "let date = new Date();\nlet d1 = date.getFullYear() + ('0' + (date.getMonth() + 1)).slice(-2) + ('0' + date.getDate()).slice(-2) + ('0' + date.getHours()).slice(-2) + ('0' + date.getMinutes()).slice(-2) + ('0' + date.getSeconds()).slice(-2) ;\nlet f_name = '';\nlet comname = '';\n\nif (msg.counter === 0) {\n   comname =\"LUX_SENSOR_FNAME\";\n    f_name = \"LUX_SENSOR_\" + d1 + \".csv\";\n} else if (msg.counter === 1) {\n    comname = \"ACC_SENSOR_FNAME\";\n    f_name = \"ACC_SENSOR_\" + d1 + \".csv\";\n} else {\n    comname = \"TEMP_HUM_FNAME\";\n    f_name = \"TEMP_HUM_SENSOR_\" + d1 + \".csv\";\n}\n// @ts-ignore\nflow.set(comname, f_name); //照度ファイル名\n\nmsg.filename = f_name;\nmsg.localFilename = \"/receiving/\" + f_name;\nlet str = msg.payload;\nmsg.payload = str.replace(/\"/g,'');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1420,
        "y": 360,
        "wires": [
            [
                "b3e6282c.3b9128"
            ]
        ]
    },
    {
        "id": "b3e6282c.3b9128",
        "type": "file",
        "z": "5546eb2.8913a14",
        "name": "転送用ファイル作成",
        "filename": "localFilename",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1640,
        "y": 360,
        "wires": [
            [
                "160296a7.fd69b9"
            ]
        ]
    },
    {
        "id": "65964900.6fec48",
        "type": "function",
        "z": "5546eb2.8913a14",
        "name": "取得用ファイル名作成",
        "func": "let comname = '';\nif (msg.counter === 0) {\n   comname = \"LUX_SENSOR_FNAME\";\n} else if (msg.counter === 1) {\n   comname = \"ACC_SENSOR_FNAME\";\n} else {\n   comname = \"TEMP_HUM_FNAME\";\n}\n\n// @ts-ignore\nlet f_name = flow.get(comname);\nmsg.filename = \"/receiving/\" + f_name;\nmsg.localFilename = f_name;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1020,
        "y": 540,
        "wires": [
            [
                "7768847f.25bd0c"
            ]
        ]
    },
    {
        "id": "c61df931.18c3b8",
        "type": "function",
        "z": "5546eb2.8913a14",
        "name": "センサファイル名設定",
        "func": "let comname = '';\nif (msg.counter === 0) {\n    comname = \"LUX_SENSOR_FNAME\";\n} else if (msg.counter === 1) {\n    comname = \"ACC_SENSOR_FNAME\";\n} else {\n    comname = \"TEMP_HUM_FNAME\";\n}\n// @ts-expect-error\nlet f_name = flow.get(comname);\nmsg.remoteFolder = \"/import/\";\nmsg.filename = msg.remoteFolder + f_name;\nmsg.localFilename = f_name;\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1680,
        "y": 540,
        "wires": [
            [
                "4869d8a1.fb3ea8"
            ]
        ]
    },
    {
        "id": "88db2057.18a5b",
        "type": "change",
        "z": "5546eb2.8913a14",
        "name": "counter",
        "rules": [
            {
                "t": "set",
                "p": "counter",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 440,
        "wires": [
            [
                "e5e16356.69598"
            ]
        ]
    },
    {
        "id": "e5e16356.69598",
        "type": "switch",
        "z": "5546eb2.8913a14",
        "name": "check",
        "property": "counter",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "3",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 830,
        "y": 580,
        "wires": [
            [
                "65964900.6fec48"
            ],
            []
        ]
    },
    {
        "id": "91dcadfa.3bd4",
        "type": "function",
        "z": "5546eb2.8913a14",
        "name": "counter +1",
        "func": "// @ts-ignore\nmsg.counter += 1;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 910,
        "y": 460,
        "wires": [
            [
                "e5e16356.69598"
            ]
        ],
        "info": "// nrlint no-loops:off\n"
    },
    {
        "id": "d6d78145.fe142",
        "type": "comment",
        "z": "5546eb2.8913a14",
        "name": "センサーデータ取得処理",
        "info": "加速度センサ、照度センサ、温湿度センサーの1週間分のデータをテーブルから取得する\n取得したデータをM＋サーバの/home/sensor/receivingへFTP転送する\nM＋サーバの/home/sensor/receivingデータを/home/sensor/importへ移動する\n",
        "x": 150,
        "y": 220,
        "wires": []
    },
    {
        "id": "96f911a4.4d444",
        "type": "inject",
        "z": "5546eb2.8913a14",
        "d": true,
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 100,
        "wires": [
            [
                "e93dae8a.6be67"
            ]
        ]
    },
    {
        "id": "152e8caa.eb4a63",
        "type": "switch",
        "z": "5546eb2.8913a14",
        "name": "check",
        "property": "counter",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 1010,
        "y": 360,
        "wires": [
            [
                "8412311e.e31b8"
            ],
            [
                "ba695673.c2abc8"
            ],
            [
                "9327c479.2d6a88"
            ]
        ]
    },
    {
        "id": "ba695673.c2abc8",
        "type": "csv",
        "z": "5546eb2.8913a14",
        "name": "加速度CSV設定",
        "sep": ",",
        "hdrin": true,
        "hdrout": "all",
        "multi": "mult",
        "ret": "\\n",
        "temp": "user_id,sensor_id,sensor_registration_name,received_date,alarm_type,battery_level,temperature,report_type,data_x,data_y,data_z,registration_date,update_date",
        "skip": "0",
        "strings": false,
        "x": 1180,
        "y": 360,
        "wires": [
            [
                "2203f19f.ad62fe"
            ]
        ]
    },
    {
        "id": "9327c479.2d6a88",
        "type": "csv",
        "z": "5546eb2.8913a14",
        "name": "温湿度CSV設定",
        "sep": ",",
        "hdrin": true,
        "hdrout": "all",
        "multi": "mult",
        "ret": "\\n",
        "temp": "user_id,sensor_id,sensor_registration_name,received_date,alarm_type,battery_level,temperature,humidity,registration_date,update_date",
        "skip": "0",
        "strings": false,
        "x": 1180,
        "y": 400,
        "wires": [
            [
                "2203f19f.ad62fe"
            ]
        ]
    },
    {
        "id": "f0519fb2.4de0d",
        "type": "comment",
        "z": "5546eb2.8913a14",
        "name": "各センサのデータを取得",
        "info": "",
        "x": 710,
        "y": 320,
        "wires": []
    },
    {
        "id": "e325adb.7a2ec5",
        "type": "comment",
        "z": "5546eb2.8913a14",
        "name": "各センサのデータをPUT",
        "info": "",
        "x": 1430,
        "y": 320,
        "wires": []
    },
    {
        "id": "f4ea8e15.1d7e",
        "type": "comment",
        "z": "5546eb2.8913a14",
        "name": "各センサのデータをreceivingフォルダからimportフォルダへ移動",
        "info": "",
        "x": 1130,
        "y": 600,
        "wires": []
    },
    {
        "id": "c003e49a.a26808",
        "type": "function",
        "z": "5546eb2.8913a14",
        "name": "エラーカウンタ初期化",
        "func": "// @ts-ignore\nflow.set('ERROR_COUNT',0);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2340,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "e93dae8a.6be67",
        "type": "function",
        "z": "5546eb2.8913a14",
        "name": "リトライカウンタ更新",
        "func": "// @ts-ignore\nmsg.errorcnt = flow.get('ERROR_COUNT')||0;\nmsg.errorcnt += 1;\n// @ts-ignore\nflow.set('ERROR_COUNT', msg.errorcnt);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 440,
        "y": 140,
        "wires": [
            [
                "c7af61dd.5acf7",
                "6506d297.c30e9c"
            ]
        ]
    },
    {
        "id": "c7af61dd.5acf7",
        "type": "switch",
        "z": "5546eb2.8913a14",
        "name": "リトライチェック",
        "property": "errorcnt",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 690,
        "y": 140,
        "wires": [
            [
                "50b7bb86.255c94",
                "5a8a9d51.b46a74"
            ],
            [
                "efc77b39.3bd708"
            ]
        ]
    },
    {
        "id": "6506d297.c30e9c",
        "type": "debug",
        "z": "5546eb2.8913a14",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 440,
        "y": 60,
        "wires": []
    },
    {
        "id": "970b4c6b.ae518",
        "type": "comment",
        "z": "5546eb2.8913a14",
        "name": "リトライ時はMAX値を設定する",
        "info": "",
        "x": 730,
        "y": 80,
        "wires": []
    },
    {
        "id": "5a8a9d51.b46a74",
        "type": "function",
        "z": "5546eb2.8913a14",
        "name": "外部用文面設定",
        "func": "\nmsg.topic='FTP転送エラーが発生'; //メール件名設定\nmsg.payload = 'FTP転送でエラーが発生 『' + msg.error.message +'』\\n\\n ファイルが送れませんでした。\\n';   //本文\nmsg.to = 't.matsumoto@pound4tec.com';\n// メールヘッダー設定\nmsg.headers = '';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 140,
        "wires": [
            [
                "7bb58fb057f122d8"
            ]
        ]
    },
    {
        "id": "19818ba8.e6f6f4",
        "type": "file",
        "z": "5546eb2.8913a14",
        "name": "転送元ファイル削除",
        "filename": "localFilename",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "delete",
        "encoding": "none",
        "x": 2100,
        "y": 540,
        "wires": [
            [
                "91dcadfa.3bd4",
                "c003e49a.a26808"
            ]
        ]
    },
    {
        "id": "1bd67f31.945b01",
        "type": "inject",
        "z": "5546eb2.8913a14",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 620,
        "wires": [
            [
                "792ff36c.ffb93c",
                "e27283f3.afa34"
            ]
        ]
    },
    {
        "id": "1281e115.65e57f",
        "type": "debug",
        "z": "5546eb2.8913a14",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 510,
        "y": 680,
        "wires": []
    },
    {
        "id": "e27283f3.afa34",
        "type": "debug",
        "z": "5546eb2.8913a14",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 310,
        "y": 540,
        "wires": []
    },
    {
        "id": "792ff36c.ffb93c",
        "type": "sftp in",
        "z": "5546eb2.8913a14",
        "sftp": "9cd024c.e2854d8",
        "operation": "put",
        "path": "",
        "pattern": "",
        "filename": "",
        "localFilename": "",
        "name": "",
        "x": 370,
        "y": 620,
        "wires": [
            [
                "1281e115.65e57f"
            ]
        ]
    },
    {
        "id": "160296a7.fd69b9",
        "type": "sftp in",
        "z": "5546eb2.8913a14",
        "sftp": "9cd024c.e2854d8",
        "operation": "put",
        "path": "",
        "pattern": "",
        "filename": "",
        "localFilename": "",
        "name": "SFTP receiving-PUT",
        "x": 1860,
        "y": 360,
        "wires": [
            [
                "be83963d.108f58"
            ]
        ]
    },
    {
        "id": "7768847f.25bd0c",
        "type": "sftp in",
        "z": "5546eb2.8913a14",
        "sftp": "9cd024c.e2854d8",
        "operation": "get",
        "path": "",
        "pattern": "",
        "filename": "",
        "localFilename": "",
        "name": "SFTP receiving-get",
        "x": 1230,
        "y": 540,
        "wires": [
            [
                "4805fe6.fdf5"
            ]
        ]
    },
    {
        "id": "4805fe6.fdf5",
        "type": "sftp in",
        "z": "5546eb2.8913a14",
        "sftp": "9cd024c.e2854d8",
        "operation": "delete",
        "path": "",
        "pattern": "",
        "filename": "",
        "localFilename": "",
        "name": "SFTP receiving-delete",
        "x": 1440,
        "y": 540,
        "wires": [
            [
                "c61df931.18c3b8"
            ]
        ]
    },
    {
        "id": "4869d8a1.fb3ea8",
        "type": "sftp in",
        "z": "5546eb2.8913a14",
        "sftp": "9cd024c.e2854d8",
        "operation": "put",
        "path": "",
        "pattern": "",
        "filename": "",
        "localFilename": "",
        "name": "SFTP import-put",
        "x": 1880,
        "y": 540,
        "wires": [
            [
                "19818ba8.e6f6f4"
            ]
        ]
    },
    {
        "id": "6c148e3d.1963b",
        "type": "mysql",
        "z": "5546eb2.8913a14",
        "mydb": "ce92506d.eb7cc",
        "name": "SQL発行",
        "x": 880,
        "y": 360,
        "wires": [
            [
                "152e8caa.eb4a63"
            ]
        ]
    },
    {
        "id": "7bb58fb057f122d8",
        "type": "e-mail",
        "z": "5546eb2.8913a14",
        "server": "smtp.gmail.com",
        "port": "465",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": true,
        "tls": true,
        "name": "",
        "dname": "",
        "x": 1190,
        "y": 120,
        "wires": []
    },
    {
        "id": "9cd024c.e2854d8",
        "type": "sftp",
        "host": "patro-st1.monoplus.cloud",
        "port": "50022",
        "forceIPv4": false,
        "forceIPv6": false,
        "username": "sensor",
        "privateKey": "id_ed25519",
        "readyTimeout": "",
        "strictVendor": true,
        "debug": "// function - Set this to a function that receives a single \n// string argument to get detailed (local) debug information.",
        "retries": "",
        "retry_factor": "",
        "retry_minTimeout": ""
    },
    {
        "id": "ce92506d.eb7cc",
        "type": "MySQLdatabase",
        "name": "",
        "host": "kfgk8u2ogtoylkq9.cbetxkdyhwsb.us-east-1.rds.amazonaws.com",
        "port": "3306",
        "db": "u9fo72yd0zo6axly",
        "tz": "",
        "charset": "UTF8"
    }
]
